body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

header.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.logo img {
    margin-right: 10px;
    border-radius: 5px;
}

.menu a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.menu a:hover {
    color: #ff3c00;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
}

.left {
    max-width: 50%;
}

.left h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.left p {
    font-size: 1.2em;
    color: #aaa;
    margin-bottom: 30px;
    line-height: 1.5;
}

.right img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

.about {
    padding: 100px 60px;
    background-color: #8a3030;
    text-align: center;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    color: #ccc;
    max-width: 800px;
    margin: 0 auto;
}

.wall {
margin-bottom: 70px;


}
.wall h2{
    font-size: 2.5em;
    color:aqua;
    margin-left: 550px;

}

.wall-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    text-align: left;
    padding-top: 40px;
}

.wall-text {
    flex: 1;
    font-size: 1.2em;
    color: #aaa;
    line-height: 1.6;
    margin-left: 50px;
}

.wall-picture {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.wall-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    margin-right: 40px;
    
}

.river {
    background-color: #8a3030;

    margin-bottom: 70px;

}


.river h2{
    font-size: 2.5em;
    color:aqua;
    margin-left: 550px;
    margin-top:50px;
    max-width: 800px;


}

.river-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    text-align: left;
    padding-top: 40px;
}

.river-text {
    flex: 1;
    font-size: 20px;
    font: bold;
    color: #aaa;
    line-height: 1.6;
    margin-left: 50px;
}

.river-picture {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.river-picture img {

    border-radius: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.city {
    background-color:#000;
    margin-top: 10px;


}


.city h2{
    font-size: 2.5em;
    color:aqua;
    margin-left: 550px;
    margin-top:10px;
    max-width: 800px;


}

.city-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    text-align: left;
    padding-top: 40px;
}

.city-text {
    flex: 1;
    font-size: 20px;
    font: bold;
    color: #aaa;
    line-height: 1.6;
    margin-left: 50px;
}

.city-picture {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.city-picture img {

    border-radius: 30px;
    margin-right: 40px;
}

.army {
    background-color: #8a3030;
    margin-top: 50px;
    margin-bottom: 50px;


}


.army h2{
    font-size: 2.5em;
    color:aqua;
    margin-left: 550px;
    margin-top:10px;
    max-width: 800px;


}

.army-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    text-align: left;
    padding-top: 40px;
}

.army-text {
    flex: 1;
    font-size: 20px;
    font: bold;
    color: #aaa;
    line-height: 1.6;
    margin-left: 50px;
}

.army-picture {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.army-picture img {

    border-radius: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.primary-button{
    position: absolute;
    top: 700px;
    left: 80%;
    transform: translateX(-50%);
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(230, 32, 81, 0.7);

}